body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }

  .emojis {
    /* use the the grid properties to layout the emoji cards */
    display: grid;
    grid-template-columns: 415px 415px;
    grid-gap: 15px;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;

    /* use the flexbox properties to layout the content of the emoji cards */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;

    align-self: flex-start;
    width: 100%;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 92%;
  }
  
  .icon {
    font-size: 4rem;

    order: -1;
  }

  .emoji p {
    /* align buttons in each card with the bottom of the card using a flexbox property.
       This "flex-grow" property allow the p item to take all the rest of the space, pushing the button to the bottom of the card*/
    flex-grow: 1;
  }
